/* ***************************** */
/* tablet */
/* ***************************** */

@media (min-width: 760px) {
  /* body */
  body {
    min-height: 100vh;
    place-content: center;
    padding: 50px;
  }

  /* container */
  .container {
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0 0 160px rgba(0, 0, 0, 0.2);
  }

  /* form section */
  .form-section {
    padding: 40px;
  }

  /* header */
  .header {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    align-items: center;
  }

  /* form */
  .term-interest-container {
    grid-template-columns: 1fr 1fr;
  }

  .calculate-btn {
    max-width: 280px;
  }

  /* result section */
  .result-section {
    border-radius: 0 0 20px 20px;
  }

  /* result-container */
  .result-container {
    padding: 40px;
  }

  .results {
    padding: 30px 35px;
    margin-top: 40px;
  }

  .monthly-result {
    margin-bottom: 20px;
  }

  .monthly-result div {
    font-size: 60px;
  }

  .total-result {
    padding-top: 30px;
    border-top: 2px solid var(--slate-700);
  }
}

@media (min-width: 1100px) {
  /* container */
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1080px;
    max-width: 1080px;
  }

  /* result section */
  .result-section {
    border-radius: 0 20px 20px 80px;
  }

  /* empty container */
  .empty-container {
    justify-content: center;
    height: 100%;
    padding: 40px;
  }
}
